.listItems {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.listItems .listItem {
  display: flex;
  flex-direction: row;
  border: 1px solid #e25131;
  background-color: white;
  padding: 10px;
  margin: 20px 0;
  height: 250px;
}

.listItems .listItem .listItem__img {
  height: 100%;
}

.listItems .listItem .listItem__img img {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.listItems .listItem .listItem__comments {
  padding: 10px;
}

.listItems .listItem .listItem__comments > .userInfo {
  padding-top: 10px;
  font-weight: 700;
}