h1, h2, h3, h4, h5, h6, p, span {
  font-family: sans-serif;
}

h1 {
  margin: 20px 30px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 20px 30px;
  height: 100%;
  column-gap: 20px;
}